---
import { tagSlug } from '~/lib/tags';

interface Props {
  tags: string[];
}

const { tags } = Astro.props;
const first = tags[0];
---

{first && (
  <a href={`/tag/${tagSlug(first)}/`} class="tag">{first}</a>
)}
